.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb

*.txt
*.h5

# data
*.rar
*.csv
*.dat
*.tar.gz
*.png
*.zip
*.json
*.npz
*.jpg